.title-text-home {
  left: 3%;
  top: 35%;
  margin-left: 100px;
  color: white !important;
  display: inline-block;
  text-align: center;
  position: absolute;
  font-weight: bold;
}

.home-container {
  vertical-align: middle;
  text-align: left;
  height: 100%;
}
