.registrationAndMore-container {
  color: greenyellow;
}


.email-container {
  margin-bottom: 100px;
  display: inline;
  margin-right: 50px;
  position: relative;
  height: 150px;
  width: 300px;
  text-align: center;
}

.email-information {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
}
