.logout-item {
  cursor: pointer;
}

.usernav-toogle {
  background: transparent;
  border: none;
  font-size: 16px;
  color: green;

  &:after {
    display: inline-block;
    margin-left: 4px;
    vertical-align: -1px;
    content: "▼";
    transform: scale(0.7);
  }
}

.navaccount {
  position: relative;
  right: 15px;
}

.unauth-button-container {
  display: inline;
  margin-left: 250px;
}

.a-style-registration {
  margin-left: 25px;
  font-style: italic;
  letter-spacing: 0.1em;

  &:hover {
    color: blue;
  }

  &:visited {
    color: green;
  }
}

nav a {
  display: inline-block;
  margin-left: 10px;
  &:hover {
    cursor: pointer;
  }
}
