
.logout-item {
  cursor: pointer;
}

.usernav-toogle {
  background: transparent;
  border: none;
  font-size: 16px;
  color: green;

  &:after {
    display: inline-block;
    margin-left: 4px;
    vertical-align: -1px;
    content: "▼";
    transform: scale(.7);
  }
}

.navaccount {
  position: relative;
  right: 15px;
}

