.item-toogle {
  font-weight: bold;
  background: transparent;
  color: green;
  border: none;

  &:after {
    display: inline-block;
    margin-left: 4px;
    vertical-align: -1px;
    content: "▼";
    transform: scale(.7);
  }
}

.menu-nav {
  display: flex;
  align-items: center;
}

.dropdown-menu {
  margin-right: 110px;
}

a ~ a {
  padding-left: 10px;
  }
