.label-recipe {
  font-size: 22px;
  font-weight: bold;
  color: blueviolet;
}

.label-data-recipe {
  font-size: 22px;
  color: black;
  //margin-left: -100px;
  margin-right: 40px;
  //padding-left: 10px;
}
